<!--The content below is only a placeholder and can be replaced.-->
<script type="text/javascript">
</script>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/NearbyShops"><strong>Nearby Shops</strong><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/MyPreferredShops"><strong>My preferred Shops</strong></a> 
      </li>
    </ul>
  </div>
</nav>
<p></p>
<router-outlet></router-outlet>

